/* 404 page*/
.page-404{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $color-main;
    font-size: 18px;
    p{
        &:not(:last-child){
            margin-bottom: 40px;
        }
    }
    &__title{
        color: $color-main;
        margin-bottom: 40px;
    }
    &__search-form{
        width: 100%;
    }
}