/* OFFERS */
.offers{ 
    padding: 40px 0px;  
    @media screen and (min-width: 1024px){
        padding: 150px 0px 55px 0px; 
    }    
    &__description{
        margin-bottom: 20px;
        @media screen and (min-width: 1024px){
            margin-bottom: 35px;
        } 
    }
    &__content{
        @media screen and (min-width: 1024px){
            margin-bottom: -150px;
        }        
    }   
}



/* OFFER */
.offer{
    display: flex;    
    flex-direction: column; 
    
    @media screen and (min-width: 992px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__content{   
        margin-bottom: 30px;     
        @media screen and (min-width: 992px) {
            width: 60%;
            padding-right: 60px;
            margin-bottom: 0px;
        }
    }

    &__preamble{
        margin-bottom: 22px;
    }
    &__title{
        margin-bottom: 12px;
    }

    &__text{
        font-size: 18px;
        margin-bottom: 27px;
        p{
            margin-bottom: 10px;
        }
    }
    &__button{
        width: 190px;
    }
    &__preview{

    }
}