/* RESULTS */
.results{
    background-image: url(../images/dist/results-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__content{
        background-color: rgba(28, 39, 82, 0.86);
        padding: 40px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @media screen and (min-width: 1024px){
            padding: 100px 80px 100px 80px;    
        }
    }    
}

.result{
    font-family: $title-font;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.36px;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 23px;
    &__count{
        background-color: $color-accent;
        color: $color-main;
        padding: 15px 20px; 
        border: 1px solid transparent;  
        border-right: 0; 
        width: 25%;                   
    }
    &__text{
        flex-grow: 1;
        background-color: transparent;
        color: $color-light; 
        padding: 16px 20px;  
        border: 1px solid $color-light;  
        border-left: 0;          
    }
}
