/* SUBSCRIBE */
.subscribe{
    padding: 40px 0px;
    color: $color-main;
    @media screen and (min-width: 1024px){
        padding: 145px 0px 50px 0px;
    }
    &__title{
        margin-bottom: 10px;
    }
}
.subscribe-field{
    display: flex;
    align-items: center;
    flex-direction: wrap;
    &__input{
        flex-grow: 1;
    }
    &__button{
        @media screen and (min-width: 1024px){
            min-width: 180px;
        }
    }
}