/*-- TABS --*/
.tabs {
    display: flex;
    flex-direction: column; 
  } 
  
  
  .tabs__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .tabs__toggle {    
    display: block;
    background-color: $color-accent;
    color: $color-main;
    font-size: 20px;
    line-height: 22px;
    padding: 15px;
    transition: $transition-time;
    box-shadow: none;
    border: 1px solid $color-main;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    font-family: $text-font;
    margin-bottom: 20px;
    @media screen and (min-width: 1024px){
      min-width: 220px;
      padding: 20px;
      line-height: 30px;
      margin-bottom: 35px;
    }
    &:hover{
        background-color: $color-main;
        color: $color-accent;
        cursor: pointer;
    }
    &:not(:last-child){
      margin-right: 20px;
      @media screen and (min-width: 1024px){
        margin-right: 40px;  
      }
    }  
   
  }
  
  .tabs__name {
    font-weight: 500;
    font-size: 14px;
    color: #484848;
  }
  
  .tabs__body {
    background: $color-light;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 30px;
    position: relative;
    @media screen and (min-width: 1024px){
      padding: 70px 60px 70px 60px;
    }
  }
  
  
  .tabs__content {
    display: none;
  }
  
  .tabs__toggle.is-active {
    background-color: $color-light;
    color: $color-main;
    border: 1px solid $color-light;
    cursor: default;
  }
  
  
  
  .tabs__content.is-active {
    display: block;
  }