
	/*
	$color-main: #fff; 
	$color-secondary: #F0F6FB;
	$color-text: #000; 
	$color-secondary-text: #18191F;
	$color-primary: #0096FF;
    $color-gray: #666666; 
	$color-gray-light: #999999;
	$color-gray-lighter: #eee; 
	$color-error: red;
	$color-succes: green;
	$color-orange: orange;

	$font-size-regular-text: 14px; 
	$font-line-height: 20px; 

	$font-family-userfont: manrope, sans-serif; 
	$font-family-userfont-secodary: rubik, sans-serif; 
	$font-family-userfont-service: roboto, sans-serif;
	*/
	$color-main: #1C2752;
	$color-main-light: #4B557D;
	$color-accent: #FFB342;
	$color-accent-light:#FFC368;
	$color-light: #fff;
	$color-middle: #7E7E7E;
	$color-middle-light: #D2D2D2;
	$color-middle-to-light: #D7D7D7;
	$color-middle-lighter: #F4F4F4;
    $color-middle-normal: #ccc;

	$color-gray-dark: #444;
	$color-gray-middle: #ccd5db;
	$color-gray-light: #f9f9f9;

	
	$transition-time: 0.5s;

	$border-radius: 5px;

