//@use 'sass:math'
//@use 'sass:color'

@import 'normalize';
@import 'config';
@import 'fonts';
@import 'vars';
//@import 'blocks/**/*';

//import animations styles
//@import 'node_modules/animate';
@import 'blocks/animate';

//import datapic styles
@import 'node_modules/vanillajs-datepicker/sass/datepicker'; 

//import Swiper styles
@import 'node_modules/swiper/swiper';

@import 'blocks/fontawesome.scss';
@import 'blocks/button';
@import 'blocks/input';
@import 'blocks/textarea';
@import 'blocks/round-icon';
@import 'blocks/snippet';
@import 'blocks/social';
@import 'blocks/section';
@import 'blocks/header';
@import 'blocks/nav';
@import 'blocks/preview';
@import 'blocks/hero';
@import 'blocks/about';
@import 'blocks/tabs';
@import 'blocks/offer';
@import 'blocks/experience';
@import 'blocks/services';
@import 'blocks/choose';
@import 'blocks/results';
@import 'blocks/advantages';
@import 'blocks/projects';
@import 'blocks/info';
@import 'blocks/testimonials';
@import 'blocks/call-us';
@import 'blocks/contacts';
@import 'blocks/contact-form';
@import 'blocks/clients';
@import 'blocks/plan';
@import 'blocks/blog';
@import 'blocks/subscribe';
@import 'blocks/footer';
@import 'blocks/backToTop';
@import 'blocks/popup';
@import 'blocks/page';
@import 'blocks/breadcrumbs';
@import 'blocks/pagination';
@import 'blocks/comment-form';
@import 'blocks/sidebar';
@import 'blocks/table';
@import 'blocks/search-form';
@import 'blocks/search-results';
@import 'blocks/404-page';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    outline:none;
}

textarea{
    resize: none;
    outline:none;
}

ul{
    list-style: none;
}

body{
    font-family: $text-font;
    font-weight: 400;
    size: 17px;
    line-height: 27px;
    letter-spacing: 0.36px;
    background-color: $color-light;
}

html, body{
    height: 100%; /* for bottom footer */

}
.wrapper{
    min-height: 100%;        /* for bottom footer */
    display: flex;           /* for bottom footer */
    flex-direction: column;  /* for bottom footer */

}
.main{
    flex: 1 1 auto;   /* for bottom footer */
}
